{% extends 'base.html.twig' %}

{% block title %}Editar Proyecto - Time Manager{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow">
                <div class="card-header header-gradient">
                    <h3><i class="bi bi-pencil"></i> Editar Proyecto</h3>
                </div>
                <div class="card-body">
                    {{ form_start(form) }}
                        {{ form_widget(form) }}
                        <div class="mt-4 d-flex justify-content-between">
                            <a href="{{ path('project_index') }}" class="btn btn-secondary">
                                <i class="bi bi-arrow-left"></i> Volver
                            </a>
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-check-circle"></i> Actualizar
                            </button>
                        </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
